img {
    width: 100%;
    height: auto;
}

.jardin {
    max-width: 25%;
    max-height: 25%;
}

.achat {
    max-width: 40%;
    max-height: 40%;
}

html {
    font-size: 100%;
}
nav {
    background:black
}
.block {
    display: inline-block;
    background-color: black;
    color:white;
}

header {
    font-size: large;
}

.titre {
    font-size: large;
    text-align: end;
    float: right;
    margin-right: 30%;
}

header {
    font-size: xx-large;
}
@media screen and(max-width:768px) {
    .box{
        display:none;
    }
} 
.box{
    width:10rem;
    height: 22.9rem;
    background-color:silver;
    float:right;

}
footer{
flex-direction:
}
.mobile{
    flex-direction:column;
}