
html {
    font-size: 100%;
}


header{
    font-size: xx-large;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.titre {
    font-size: large;
   display:flex;
   align-self: center;
   flex-grow: 1;
   
}

.navig, footer {
    background:black
}

.form {
    display: flex;
justify-content: space-between;

}


img {
    width: 100%;
    height: auto;
}

.jardin {
    max-width: 25%;
    max-height: 25%;
}




.block {
    display: inline-block;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    color:white;
}


.box{
    width:10rem;
    height: 22.9rem;
    background-color:silver;
}
.achat {
    max-width: 40%;
    max-height: 40%;
}

@media screen and (max-width:767px) {
  
    .block{
        display: block;
    }
    .box{
        display:none;
        visibility: hidden;

} 
}

