
html {
    font-size: 100%;
}
header{
    font-size: xx-large;
}
.navig, footer {
    background:black
}

img {
    width: 100%;
    height: auto;
}

.jardin {
    max-width: 25%;
    max-height: 25%;
}

.titre {
    font-size: large;
    text-align: end;
    float: right;
    margin-right: 30%;
}


.block {
    display: inline-block;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    color:white;
}


.box{
    width:10rem;
    height: 22.9rem;
    background-color:silver;
    float:right;
}
.achat {
    max-width: 40%;
    max-height: 40%;
}

@media screen and (max-width:767px) {
  
    .block{
        display: block;
    }
    .box{
        display:none;
        visibility: hidden;

} 
}

